
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org%22%3E/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div id="centerthemenu" name="">
  <div id="loginmenu" name="" class="loginmenu">
    <div class="form__group field marginleft50px">
      <input type="email" class="form__field" placeholder="name" name="" id='email' required />
      <label for="email" class="form__label">Email</label>
    </div>
    <div class="form__group field marginleft50px">
      <input type="password" class="form__field" placeholder="name" name="" id='password' required />
      <label for="password" class="form__label">Password</label>
    </div>
    <div id="sbumitbutton" class="marginleft50px buttonsubmit">
      <button class="button-85" role="button">Log in</button>
    </div>
    <div id="divregisterlink">
      <a id="registerlink" href="register.html">You don't have an account? Create it!</a>
    </div>
  </div>
</div>
<script src="login.js"></script>
</body>
</html>